# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/
ENV/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Data =====
data/*
!data/*.dvc
!data/.gitkeep

# ===== Models =====
# Ignore model binaries
models/*
*.pkl
*.joblib
*.h5
*.keras
# Keep folder structure
!models/.gitkeep

# ===== Logs =====
logs/
*.log

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== DVC =====
.dvc/cache/
.dvc/tmp/
.dvc/.gitignore

# ===== Docker =====
*.pid
