# Python
__pycache__/
*.pyc
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# Data / Models
data/*
!data/*.dvc
!data/.gitkeep
models/

# Logs
logs/
*.log

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# DVC
.dvc/cache/
.dvc/tmp/
