# Data processing
pandas
numpy
matplotlib
seaborn

# NLP / Text processing
nltk
wordcloud

# Machine learning
scikit-learn
tensorflow
keras

# API
fastapi
uvicorn[standard]
pydantic
requests

# Utilities
joblib
prometheus-client
streamlit
requests